

<div class="container header2-custom">
    <div class="row">
        <div class="col-3 d-none d-sm-none d-md-none d-lg-block">
            <a href="@Url.Action("Index","Home")">
                <img src="~/images/logo/aluro_logo-1024x509.png" />
            </a>
        </div>
        <div class="col">
            @await Component.InvokeAsync("MenuMain")

            <form asp-controller="Category" asp-action="Lista"  method="get">
                <div class="search input-group mb-3 ">
                    <input type="text" name="szukanaNazwa" id="szukanaNazwa" class="form-control mr-sm-2" placeholder="Szukaj produktu" />
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts{

}