@*@using Microsoft.AspNetCore.Identity
@using partner_aluro.Areas.Identity;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager*@
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Aluro </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/siteLogin.css" asp-append-version="true" />
    @*flag icon*@
    <link href="https://cdn.bootcss.com/flag-icon-css/2.8.0/css/flag-icon.css" rel="stylesheet" />
    @*flag icon*@
</head>
<body >
    <div class="d-flex flex-column min-vh-70 justify-content-center align-items-center">
         @RenderBody()
    </div>
@*    <script src="~/lib/jquery/dist/jquery.min.js"></script>*@

    @*<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>