@model IEnumerable<partner_aluro.Models.Product>
@using X.PagedList
@using X.PagedList.Mvc.Core



    @foreach (var produkt in ViewBag.OnePageOfProducts)
    {    
        <div class="col-6 col-md-6 col-lg-4 p-0">
            @await Html.PartialAsync("_ProductCart",(Product)@produkt)
        </div>
    }

@Html.PagedListPager( (IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Lista", "Category", new { page = page, szukanaNazwa=ViewData["szukanaNazwa"] } )
,
new X.PagedList.Web.Common.PagedListRenderOptions{
    DisplayEllipsesWhenNotShowingAllPageNumbers = false,
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" }
}

)