@model IEnumerable<partner_aluro.Models.Product>
@using X.PagedList
@using X.PagedList.Mvc.Core


@foreach (var produkt in ViewData["OnePageOfProducts"] as IEnumerable<partner_aluro.Models.Product>)
    {    
        <div class="col-6 col-sm-4 col-md-4 col-lg-4 p-0 m-0">
            @await Html.PartialAsync("_ProductCart",(Product)@produkt)
        </div>
    }
    @*ViewData["OnePageOfProducts"]*@
@Html.PagedListPager( (IPagedList)ViewData["OnePageOfProducts"], page => Url.Action("Lista", "Category", new { page = page, szukanaNazwa=ViewData["szukanaNazwa"], Sort=ViewData["Sort"] } )
,
new X.PagedList.Web.Common.PagedListRenderOptions{
    DisplayEllipsesWhenNotShowingAllPageNumbers = false,
    LiElementClasses = new string[] { "page-item" },
    //PageClasses = new string[] { "page-link" }
    PageClasses = new string[] { "btn btn-success page-link" }
}

)