
@{
    ViewData["Title"] = "Kokpit";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h1>Intranet - twoje zaplecze</h1>
<b>30.01.2023</b><br />
W połowie <br />

<b>24.01.2023</b><br />
- Poprawienie koszyków <br />
- Dodanie możliwości zmiany ilosci produktu w Zamówienia <br />
- do PDF zamówienia dodana informacja o Metodzie wysyłki <br />
- dodanie pola "Nazwa Firmy" w formularzu "Adres dostawy" <br />


<b>21.01.2023</b><br />
- Optymalizacja logowania <br />
- Poprawienie koszyków <br />
- Optymalizacja strony <br />
- Dodanie możliwości zaznaczenia pozycji w Produktach <br />
- Dodanie badge nowych użytkowników<br />
- Liczne poprawki<br />
- Usunięcie błędów serverowych<br />
- Aktualizacja do .NET7 <br />

