@model partner_aluro.Models.Slider
@{
    ViewData["Title"] = "Ustawienia slider o id ";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<form asp-action="Add" asp-controller="Slider" method="post" enctype="multipart/form-data">

    @await Html.PartialAsync("_FormSlider")

    <button type="submit">Dodaj Slider</button>
</form>


@section Scripts {
    <script>
    $(document).ready(function () {
    $('#SliderTable').DataTable(
        {
            "order": [[0, 'desc']]
        });
    });
    </script>

    <script>
        function preview_images1() {
            var total_file = document.getElementById("images").files.length;
            $('#image_preview1').append("");

            for (var i = 0; i < total_file; i++) {
                $('#image_preview1').append("<div class='col-sm-2'><img  style='width: 110px;' src='" + URL.createObjectURL(event.target.files[i]) + "'></div>");
            }
        }
    </script>
}