@model partner_aluro.Models.Slider
@{
    ViewData["Title"] = "Ustawienia slider o id " +Model.ImageSliderID;
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<form class="needs-validation" asp-action="Edit" asp-controller="Slider" method="post" enctype="multipart/form-data">

    @await Html.PartialAsync("_FormSlider")

    <button class="btn btn-success" type="submit">Zapisz zmiany</button>
</form>



@section Scripts {
    <script>
        $(document).ready(function () {
            $('#SliderTable').DataTable(
                {
                    "order": [[0, 'desc']]
                });
        });
    </script>
    <script>
        function preview_images() {
            var total_file = document.getElementById("images").files.length;
            $('#image_preview').append("");

            for (var i = 0; i < total_file; i++) {
                $('#image_preview').append("<div class='col-sm-2'><img  style='width: 110px;' src='" + URL.createObjectURL(event.target.files[i]) + "'></div>");
            }
        }
    </script>
}