@model partner_aluro.Models.ImageModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ImageModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tytul)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tytul)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageName)
        </dd>
        <div class="form-group">
            <img src="\@Model.path\@Model.ImageName" asp-append-version="true" width="250px" height="250px">

        </div>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ImageId">Edit</a> |
    <button id="btnBack" runat="server" text="Back" class="btn btn-primary" onclick="JavaScript: window.history.back(1); return false;">Powrót</button>|
    <a asp-action="Index">Back to List</a>

</div>
