@model partner_aluro.Models.ImageModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h1>Edycja obrazka</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-id="@Model.ImageId" asp-route-returnUrl="@ViewData["returnUrl"]" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="ImageId" class="form-control" readonly="readonly" />
            </div>
            <div class="form-group">
                <label asp-for="Tytul" class="control-label"></label>
                <input asp-for="Tytul" class="form-control" />
                <span asp-validation-for="Tytul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageName" class="control-label"></label>
                <input asp-for="ImageName" class="form-control" readonly="readonly" />
                <span asp-validation-for="ImageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kolejnosc" class="control-label"></label>
                <input asp-for="kolejnosc" class="form-control" />
                <span asp-validation-for="kolejnosc" class="text-danger"></span>
            </div>

                <div class="form-group">
                    <label asp-for="path" class="control-label"></label>
                <input type="text" id="disabledTextInput" asp-for="path" class="form-control" readonly="readonly" />
                    <span asp-validation-for="path" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="fullPath" class="control-label"></label>
                <input type="text" id="disabledTextInput" asp-for="fullPath" class="form-control" />
                <span asp-validation-for="fullPath" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ProductId" class="control-label"></label>
                <input type="text" id="disabledTextInput" asp-for="ProductId" class="form-control" readonly="readonly" />
                    <span asp-validation-for="ProductId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductImagesId" class="control-label"></label>
                <input type="text" id="disabledTextInput" asp-for="ProductImagesId" class="form-control" readonly="readonly" />
                    <span asp-validation-for="ProductImagesId" class="text-danger"></span>
                </div>
            <div class="form-group">
                <label asp-for="ImageNameCompress250x250" class="control-label"></label>
                <input type="text" id="disabledTextInput" asp-for="ImageNameCompress250x250" class="form-control" readonly="readonly" />
                <span asp-validation-for="ImageNameCompress250x250" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pathImageCompress250x250" class="control-label"></label>
                <input type="text" id="disabledTextInput" asp-for="pathImageCompress250x250" class="form-control" readonly="readonly" />
                <span asp-validation-for="pathImageCompress250x250" class="text-danger"></span>
            </div>

                <div class="form-group">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input type="file" asp-for="ImageFile" accept="images/png,images/jpg,images/jpeg" /> @*/image/png,image/jpg*@
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>

            <div class="form-group">
                <img src="\@Model.path\@Model.ImageName" asp-append-version="true" width="250px" height="250px">
            </div>
            <div class="form-group">
                <button id="btnBack" type="submit" class="btn btn-success">Zapisz </button>
                @*<button id="btnBack" runat="server" text="Back" class="btn btn-primary" onclick="JavaScript: window.history.back(1); return false;">Powrót</button>*@

            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróc do listy</a>
</div>
<div>

    <a asp-action="Delete" asp-route-id="@Model.ImageId">Delete</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
