<p>&nbsp;</p>
<table class="newsletter-pro-container" style="background-color: #ececec; font-family: Arial, sans-serif; width: 100%;">
    <tbody>
        <tr>
            <td>
                <table class="newsletter-pro-content" style="margin: 1% auto; width: 646px; background-color: #ffffff;" align="center">
                    <tbody>
                        <tr>
                            <td>
                                <table style="border-collapse: collapse; width: 100%; height: 1507.22px;" border="0">
                                    <tbody>
                                        <tr style="height: 319px;">
                                            <td style="text-align: center; height: 319px;">
                                                <p><span style="font-family: Arial, Helvetica, sans-serif;">&nbsp;&nbsp;<img src="http://www.partner.aluro.pl/img/cms/log-png.png" alt="" width="480" height="283" /></span></p>
                                            </td>
                                        </tr>
                                        <tr style="height: 482.5px;">
                                            <td style="text-align: center; height: 482.5px;">
                                                <h1>&nbsp;ALURO - bezpośredni importer art. dekoracyjnych i wyposażenia wnętrz.</h1>
                                                <h1>Darmowa dostawa już od 590 zł netto.</h1>
                                                <h1>Przy zam&oacute;wieniach powyżej 2000 zł netto rabat 10 %.</h1>
                                                <p>&nbsp;</p>
                                                <h1>Zapraszamy do wsp&oacute;łpracy hurtowej.</h1>
                                                <h1>www.aluro.pl</h1>
                                                <p>&nbsp;</p>
                                            </td>
                                        </tr>
                                        <tr style="height: 118px;">
                                            <td style="text-align: center; height: 118px;">
                                                <p style="text-align: center;">&nbsp;</p>
                                                <br />
                                                <p style="text-align: center;">&nbsp;</p>
                                            </td>
                                        </tr>
                                        <tr style="height: 407.719px;">
                                            <td style="text-align: left; height: 407.719px;" align="center">
                                                <p style="text-align: center;">&nbsp;</p>
                                                <h2>&nbsp;</h2>
                                                <h2><span style="font-family: Arial, Helvetica, sans-serif; font-size: 12pt;">Marcin Leciejewski<br />Sales Manager<br />tel. 0048 61 306 70 60<br />kom. 694 160 741<br /><br />ALURO fashion at home<br />ul. Gnieźnieńska 161<br />62-006 Kobylnica<br /><a class="blue" href="http://www.aluro.pl/" target="_blank" rel="noopener">http://www.aluro.pl</a></span></h2>
                                                <p><span style="font-size: 12pt;">&nbsp;</span></p>
                                            </td>
                                        </tr>
                                        <tr style="height: 18px;">
                                            <td style="height: 18px;" align="center"><span style="font-family: Arial, Helvetica, sans-serif;">&nbsp;</span></td>
                                        </tr>
                                        <tr style="height: 162px;">
                                            <td style="height: 162px;" align="center">
                                                <span style="font-family: Arial, Helvetica, sans-serif;">&nbsp;</span>
                                                <div><span style="font-family: Arial, Helvetica, sans-serif; font-size: 8pt;">Ta wiadomość zawiera informacje, kt&oacute;re mogą być w całości lub części poufne i/lub objęte ochroną prawną i/lub tajemnicą służbową. Jeżeli wiadomość niniejsza została dostarczona przez pomyłkę, proszę zawiadomić nadawcę, wysyłając odpowiedź na tę wiadomość. Jeśli nie są Państwo zamierzonym i/lub właściwym odbiorcą niniejszej wiadomości to nie mogą jej Państwo używać, ujawniać, rozpowszechniać, kopiować, drukować ani korzystać z niej.&nbsp;Wypisz :&nbsp;{unsubscribe}</span></div>
                                                <div><span style="font-family: Arial, Helvetica, sans-serif;"><img src="http://www.partner.aluro.pl/img/cms/inie.png" width="1024" height="6" /></span></div>
                                                <div><span style="font-family: Arial, Helvetica, sans-serif; font-size: 8pt;">This e-mail may contain confidential and/or privileged information. If you are not the intended (or have received this e-mail in error) please notify the sender immediately and destroy this e-mail. Any unauthorized copying, disclosure or distribution of the material in this e-mail is strictly forbidden.</span></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>