@model partner_aluro.ViewModels.EmailViewModel
@{
    ViewData["Title"] = "Users Page";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@section LinkStyleHead
    {
    <script src="~/js/tinymce/tinymce.min.js"></script>
    }

<div class="row">
    <div class="col-md-8">
        @await Html.PartialAsync("_EmailFormSendRegisterNewAccoutMessageEmail")
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        @await Html.PartialAsync("_EmailFormSend")
    </div>
</div>


@section Scripts {
    <script src="~/js/tinymce.js"></script>
    }