@model partner_aluro.ViewModels.EmailViewModel
@{
    ViewData["Title"] = "Users Page";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<div class="row">
    <div class="col-md-8">
        @await Html.PartialAsync("_EmailFormSendRegisterNewAccoutMessageEmail")
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        @await Html.PartialAsync("_EmailFormSend")
    </div>
</div>


@section Scripts {

    }