@model partner_aluro.ViewModels.EmailViewModel
@{
    ViewData["Title"] = "Users Page";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<div class="row">
    <div class="col-md-8">
        @Html.Partial("_EmailFormSendRegisterNewAccoutMessageEmail")
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        @Html.Partial("_EmailFormSend")
    </div>
</div>


@section Scripts {

    }