@model partner_aluro.Models.Category

@{
    ViewData["Title"] = "Dodaj kategorie";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

@using (Html.BeginForm("Add", "Category", FormMethod.Post))
{
    @await Html.PartialAsync("_AddCategoryForm", Model)
    <button class="btn btn-success" type="submit">Dodaj kategorię</button>
    <button id="btnBack" runat="server" text="Back" class="btn btn-primary" onclick="JavaScript: window.history.back(1); return false;">Powrót</button>

}