@model partner_aluro.Models.Category

@{
    ViewData["Title"] = "Edytój kategorię";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<form asp-controller="Category" asp-action="Edit" asp-route-id="@Model.CategoryId">

        @await Html.PartialAsync("_AddCategoryForm")

    <button type="submit">Zapisz zmiany</button>
</form>
@*
@using (Html.BeginForm("Edit", "Category", FormMethod.Post))
{
    @Html.Partial("_AddCategoryForm")

    <button type="submit">Zapisz zmiany</button>
}
*@