@model partner_aluro.ViewModels.CartHeader


<a class="nav-link" asp-area="" asp-controller="Cart" asp-action="ZlozZamowienie"> <i class="fa-solid fa-cart-shopping"></i><span class='badge badge-warning' id='lblCartCount'> @Model.CartCount </span></a>