
@{
    ViewData["Title"] = "Updata";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<h1>Edit</h1>

@model partner_aluro.ViewModels.EditUserViewModel
<div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Dane podstawowe</h4>


    @using(Html.BeginForm("OnPost","User"))
    {
        @Html.ValidationSummary()

        @await Html.PartialAsync("_FormUser")
    }

    <form method="post" asp-controller="User" asp-action="ResetPasswordUser" asp-route-email="@Model.User.Email">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <button type="submit" class="w-100 btn btn-primary">Wyslij do użytkownika link do ustawienia nowego hasła. (email)</button>
    </form>
</div>


      