@model partner_aluro.Models.ApplicationUser
@{
    ViewData["Title"] = "Lista kategori";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h4>Wiadomość z linkiem do zresetowania hasła została wysłana na email <b>@Model.Email</b>, dla użytkownika <b>@Model.UserName</b></h4>
</hr>

<button id="btnBack" runat="server" text="Back" class="btn btn-primary" onclick="JavaScript: window.history.back(1); return false;">Powrót</button>
<hr />