@model partner_aluro.Models.ApplicationUser
@{
    ViewData["Title"] = "Lista kategori";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h2>Email z linkiem do zresetowania hasła został wysłany na email @Model.Email użytkownika.</h2>
</hr>

<button id="btnBack" runat="server" text="Back" class="btn btn-primary" onclick="JavaScript: window.history.back(1); return false;">Powrót</button>
<hr />