@model List<partner_aluro.Models.MetodyDostawy>


@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="row sticky-top bg-light border-bottom">
    <div class="col"><h3>Metody dostawy</h3></div>
    <div class="col">
        <a class="btn btn-success float-end" asp-controller="MetodyDostawy" asp-action="Add">Dodaj</a>
    </div>
</div>
    <div class="row">
        <div class="col">
            Id
        </div>
        <div class="col">
            Nazwa
        </div>
        <div class="col">
            Akcje
        </div>
    </div>
    @foreach (var metoda in Model)
    {
        <div class="row">
            <div class="col">
                @metoda.Id
            </div>
            <div class="col">
                @metoda.Nazwa
            </div>
            <div class="col">
            <a asp-controller="MetodyDostawy" asp-action="Edit" asp-route-id="@metoda.Id">Edytuj</a> |
            <a asp-controller="MetodyDostawy" asp-action="Delete" asp-route-id="@metoda.Id">Usuń</a>
            </div>
        </div>
    }