@model ICollection<partner_aluro.Models.Order>
@{
    ViewData["Title"] = "ListaZamowienZalogowanegoUzytkownika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-10 col-xxl-8">

            <h4>HISTORIA ZAMÓWIEŃ</h4>
                Poniżej wyświetlone są wszystkie Twoje zamówienia, złożone przez Ciebie od momentu utworzenia konta.

                @await Html.PartialAsync("_ListOrder")

        </div>
    </div>
</div>