@model ICollection<partner_aluro.Models.Order>
@{
    ViewData["Title"] = "Users Page";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-8">

                @await Html.PartialAsync("_ListOrder")

        </div>
    </div>
</div>

@section Scripts {
@*
    <script>
        $(document).ready(function () {
          $(".data-table2").each(function (_, table) {
              $(table).DataTable({
                  order: [[0, 'desc'], [2, 'asc']]
              });
          });
        });
    </script>*@
}