@model ICollection<partner_aluro.Models.Order>
@{
    ViewData["Title"] = "Zamówienia";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

@section LinkStyleHead
    {
        @*table*@
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
   <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
        @*table*@
    }



<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"">

                @await Html.PartialAsync("_ListOrder")

        </div>
    </div>
</div>


@section Scripts {
    <script src="~/dashboard/js/scriptorder.js"></script> @*//inicjalizacja*@
}