@model ICollection<partner_aluro.Models.Order>
@{
    ViewData["Title"] = "Zamówienia";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

@section LinkStyleHead
    {
      
    }

<div class="row sticky-top bg-light border-bottom">
    <div class="col"><h3>Zamówienia</h3></div>
    <div class="col">
        <a asp-controller="Order" asp-action="Add" class="btn btn-success float-end" px-3">
            Dodaj Zamówienie
        </a>
    </div>
</div>


<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"">

                @await Html.PartialAsync("_ListOrder")

        </div>
    </div>
</div>


@section Scripts {

    <script>
    function ChangeStanZamowienia(Id, StanZamowienia) {


        var stanZamowienia = document.getElementById("select_" + Id).value;

            $.ajax({
                type: "POST",
            url: '@Url.Action("ChangeStanZamowienia", "Order")',
            data: { Id: Id, stanZamowienia: stanZamowienia },
                success: function (result) {
                },
                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        }
    </script>

    <script>
    $(document).ready(function () {
    $('#myTable').DataTable(
            {
            pageLength: 50,
            "order": [[0, 'desc']]
        });
    });
    </script>
}