@model partner_aluro.ViewModels.OrderStatusModel

@using partner_aluro.ViewComponents;
@using partner_aluro.Models


<i class="fa-solid fa-cart-shopping"></i><span class='badge badge-warning' id='lblCartCount'> @Model.Orders.Count() </span>