@model partner_aluro.Models.Product

@{
    ViewData["Title"] = "Dodaj produkt";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<form asp-action="Add" asp-controller="Product" class="form-horizontal" method="post" enctype="multipart/form-data">

    @Html.HiddenFor(h=>Model.ProductId)
    @*@Html.ValidationSummary()*@
    @Html.Partial("_FormProduct")
    <button type="submit">Dodaj produkt</button>

</form>