@model partner_aluro.Models.Product


@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

@section LinkStyleHead
    {
   @* <script src="https://cdn.tiny.cloud/1/7jymcsfhr21jkg9tegltt4mduk03g8tkuk3zgof7cwr9i3i5/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>*@
    <script src="~/js/tinymce/tinymce.min.js"></script>
    <script src="https://cdn.datatables.net/rowreorder/1.3.1/css/rowReorder.dataTables.min.css"></script>
    <script src="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"></script>
    }

<form class="needs-validation" asp-action="Edit" asp-route-id="@Model.ProductId" asp-controller="Product" class="form-horizontal" method="post" enctype="multipart/form-data">

    Czy na pewno chcesz usunać?

    </form>

<a asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@Model.ProductId">Tak</a>
 | 
<a asp-controller="Product" asp-action="List" asp-route-id="@Model.ProductId">Nie</a>

@section Scripts {
    <script src="https://cdn.datatables.net/rowreorder/1.3.1/js/dataTables.rowReorder.min.js"></script>
}

