@model partner_aluro.Models.SMS

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<form class="needs-validation" asp-action="Add" asp-controller="SMS" method="post">
    <div class="row g-0">
        <div class="col-md-6 border-end">


            @await Html.PartialAsync("_FormSMS")
        </div>
    </div>

    <div class="col-md-6">
        <button type="submit" class="btn btn-success">Dodaj i Wyslij</button>  <button id="btnBack" runat="server" text="Back" class="btn btn-primary" onclick="JavaScript: window.history.back(1); return false;">Powrót</button>
    </div>
</form>
