@model IEnumerable<partner_aluro.Models.SMS>

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<p>
    <a class="btn btn-succes" asp-action="Add">Dodaj sms</a>
</p>

<form >




</form>