@model partner_aluro.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Aluro - Strona główna";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject LanguageService language

@section LinkStyleHead
    {
        <link href="~/css/glightbox.css" rel="stylesheet" />
        <link href="~/css/glightbox.min.css" rel="stylesheet" />
        <link href="~/css/home.css" rel="stylesheet" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    
    
    }

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 zindex-dropdown">
        <div class="row justify-content-center align-items-center" >
            <div class="row index0" >
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-4 m-0 p-0 d-block d-sm-block d-md-block d-lg-block d-xl-block">
                    <div class="owl-two owl-carousel">
                            @foreach (var image in Model.SliderHome1.ObrazkiDostepneWSliderze)
                            {
                                <div>
                                    <a  href="..\@image.fullPath" class="glightbox" data-gallery="gallery" >
                                <img class="image" src="..\@image.fullPath" alt="" style="height:410px" />
                                    </a>
                                </div>
                            }
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-4 m-0 p-0 d-none d-sm-none d-md-block d-lg-block d-xl-block">
                    <div class="owl-tree owl-carousel">
                        @foreach (var image in Model.SliderHome2.ObrazkiDostepneWSliderze)
                        {
                            <div>
                            <a href="..\@image.fullPath" class="glightbox" data-gallery="gallery" >
                                <img class="image" src="..\@image.fullPath" alt="" style="height:410px" />
                                </a>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 m-0 p-0 d-none d-sm-none d-md-none d-lg-none d-xl-none d-xxl-block">
                    <div class="owl-four owl-carousel">
                        @foreach (var image in Model.SliderHome3.ObrazkiDostepneWSliderze)
                        {
                            <div>
                            <a href="..\@image.fullPath" class="glightbox" data-gallery="gallery">
                                <img class="image" src="..\@image.fullPath" alt="" style="height:410px" />
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>


@section Scripts{


            <script src="~/js/glightbox.js"></script>
            <script src="~/js/glightbox.min.js"></script>

            <script>
                const lightbox = GLightbox({
                    touchNavigation: true,
                    loop: false,
                    autoplayVideos: false
                });
            </script>
@*
            <script>
                var owl_carousel_one = $('.owl-carousel-one');
                .owl_carousel_one.owlCarousel({
                    loop: true,
                    margin: 30,
                    items: 1,
                    autoplay: true,
                    autoplayTimeout: 5000,
                    autoplayHoverPause: true,
                    smartSpeed: 1000
                });

            </script>*@

    <script type="text/javascript">
        $('.owl-two.owl-carousel').owlCarousel({
            animateOut: 'fadeOut',
            animateIn: 'fadeIn',
            transitionStyle: "fadeIn",
            loop: true,
            items: 1,
            autoplayTimeout: 2987,
            margin: 5,
            navigation: false,
            singleItem: true,
            nav: false,
            autoplay: 500,
            stagePadding: 5,
            smartSpeed: 2600
        });
    </script>

    <script type="text/javascript">
        $('.owl-tree.owl-carousel').owlCarousel({
            animateOut: 'fadeOut',
            animateIn: 'fadeIn',
            transitionStyle: "fadeIn",
            loop: true,
            items: 1,
            margin: 5,
            autoplay: 2000,
            autoplayTimeout: 3143,
            stagePadding: 5,
            smartSpeed: 2150
        });
    </script>
    <script type="text/javascript">
        $('.owl-four.owl-carousel').owlCarousel({
            animateOut: 'fadeOut',
            animateIn: 'fadeIn',
            transitionStyle: "fadeIn",
            loop: true,
            items: 1,
            margin: 5,
            autoplayTimeout: 2512,
            autoplay: 1000,
            stagePadding: 5,
            smartSpeed: 2450
        });
    </script>
    @*
 <script type="text/javascript">
        $('.owl-two.1wl-carousel').owlCarousel({
            loop: false,
            margin: 5,
            autoplay: 1000,
            animateIn: 'fadeIn',
            animateOut: 'fadeOut',
            nav: true,
            //autoWidth: true,
            ////stageOuterClass: 'overflow-visible',
            navText : ['<i class="fa fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-angle-right" aria-hidden="true"></i>'],
            responsive: {
                0: {
                    items: 1
                },
                361: {
                    items: 1
                },
                450: {
                    items: 1
                },
                600: {
                    items: 2
                },
                768: {
                    items: 2
                },
                1000: {
                    items: 2
                },
                1300: {
                    items: 3
                },
                1500: {
                    items: 3
                }
            }

        })
    </script>*@
    @*<script type="text/javascript">
        $('.owl-two.owl-carousel').owlCarousel({
            animateOut: 'fadeOut',
            animateIn: 'flipInX',
            items: 1,
            autoplay: 1000,
            margin: 30,
            stagePadding: 30,
            smartSpeed: 450,
            //autoWidth: true,
            ////stageOuterClass: 'overflow-visible',
            //navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
            responsive: {
                0: {
                    items: 1
                },
                361: {
                    items: 1
                },
                450: {
                    items: 1
                },
                600: {
                    items: 2
                },
                768: {
                    items: 2
                },
                1000: {
                    items: 2
                },
                1300: {
                    items: 3
                },
                1500: {
                    items: 3
                }
            }

        })
    </script>*@


    <script>
        function AddToCart(ProductId) {
            var myOffcanvas = document.getElementById('offcanvas');
            var bsOffcanvas = new bootstrap.Offcanvas(myOffcanvas);
            bsOffcanvas.show();
            var quantity = document.getElementById(ProductId).value;
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddToCart2", "Cart")',
                data: { ProductId: ProductId, quantity: quantity },
                success: function (result) {
                    $("#mydiv").load(location.href + " #mydiv");
                },
                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        }
    </script>

    <script>
                var lightboxDescription = GLightbox({
                    selector: '.glightbox2',
                });

                lightboxDescription.on('close', () => {
                    lightboxDescription.reload()
                });

                function choose_button(clicked_id) {
                    //loop through same data-ids
                    document.querySelectorAll('[data-id="' + clicked_id + '"]').forEach(function (el) {
                        //change text
                        el.textContent = "button text changed"
                    })

                }
        </script>

    <script>
        function ReduceQuantity(ProductId) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ReduceQuantity2", "Cart")',
                data: { id: ProductId },
                success: function (result) {
                    $("#mydiv").load(location.href + " #mydiv");
                },

                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        }
    </script>
    <script>
        function IncreaseQuantity(ProductId) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("IncreaseQuantity2", "Cart")',
                data: { id: ProductId },
                success: function (result) {
                    $("#mydiv").load(location.href + " #mydiv");
                },

                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        }
    </script>
    <script>
        function RemoveFromCart(ProductId) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("RemoveFromCart2", "Cart")',
                data: { id: ProductId },
                success: function (result) {
                    $("#mydiv").load(location.href + " #mydiv");
                },
                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        }
    </script>

}

