@model partner_aluro.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Aluro - Strona główna";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject LanguageService language

@section LinkStyleHead
    {
        <link href="~/css/glightbox.css" rel="stylesheet" />
        <link href="~/css/glightbox.min.css" rel="stylesheet" />
        <link href="~/css/home.css" rel="stylesheet" />
    }
    
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="row justify-content-center align-items-center" >
            <div class="row">
                                <div class="col" >
                                    <div class="owl-two owl-carousel owl-theme">
                                                            @foreach (var image in Model.SliderHome1.ObrazkiDostepneWSliderze)
                                                            {
                                                                <div>

                            <a href="..\@image.fullPath" class="glightbox" data-gallery="gallery" style="width:50px; height:50px;">
                                <img src="..\@image.fullPath" alt="">
                                                                        </a>

                                                                </div>
                                                            }
                                    </div>
                                </div>


        </div>
    </div>


@section Scripts{


            <script src="~/js/glightbox.js"></script>
            <script src="~/js/glightbox.min.js"></script>

            <script>
                const lightbox = GLightbox({
                    touchNavigation: true,
                    loop: false,
                    autoplayVideos: true
                });
            </script>

 <script type="text/javascript">
        $('.owl-two.owl-carousel').owlCarousel({
            loop: true,
            margin: 5,
            autoplay: 1000,
            nav: true,
            //autoWidth: true,
            ////stageOuterClass: 'overflow-visible',
            navText : ['<i class="fa fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-angle-right" aria-hidden="true"></i>'],
            responsive: {
                0: {
                    items: 1
                },
                361: {
                    items: 1
                },
                450: {
                    items: 1
                },
                600: {
                    items: 2
                },
                768: {
                    items: 3
                },
                1000: {
                    items: 3
                },
                1300: {
                    items: 3
                },
                1500: {
                    items: 3
                }
            }

        })
    </script>



    <script>
        function AddToCart(ProductId) {
            var myOffcanvas = document.getElementById('offcanvas');
            var bsOffcanvas = new bootstrap.Offcanvas(myOffcanvas);
            bsOffcanvas.show();
            var quantity = document.getElementById(ProductId).value;
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddToCart2", "Cart")',
                data: { ProductId: ProductId, quantity: quantity },
                success: function (result) {
                    $("#mydiv").load(location.href + " #mydiv");
                },
                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        }
    </script>

    <script>
                var lightboxDescription = GLightbox({
                    selector: '.glightbox2',
                });

                lightboxDescription.on('close', () => {
                    lightboxDescription.reload()
                });

                function choose_button(clicked_id) {
                    //loop through same data-ids
                    document.querySelectorAll('[data-id="' + clicked_id + '"]').forEach(function (el) {
                        //change text
                        el.textContent = "button text changed"
                    })

                }
        </script>

    <script>
        function ReduceQuantity(ProductId) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ReduceQuantity2", "Cart")',
                data: { id: ProductId },
                success: function (result) {
                    $("#mydiv").load(location.href + " #mydiv");
                },

                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        }
    </script>
    <script>
        function IncreaseQuantity(ProductId) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("IncreaseQuantity2", "Cart")',
                data: { id: ProductId },
                success: function (result) {
                    $("#mydiv").load(location.href + " #mydiv");
                },

                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        }
    </script>
    <script>
        function RemoveFromCart(ProductId) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("RemoveFromCart2", "Cart")',
                data: { id: ProductId },
                success: function (result) {
                    $("#mydiv").load(location.href + " #mydiv");
                },
                error: function (abc) {
                    alert(abc.statusText);
                },
            });
        }
    </script>

}

