@{
    ViewBag.Title = "Aluro - Strona główna";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-10 col-xxl-8">
            <p>
                Informacja dotycząca integracji XML dla sklepów internetowych

            Autoryzowane, partnerskie sklepy internetowe mają możliwość integracji bazy produktów marki ALURO przez pliki XML.</p>

            <p>Dla każdego Klienta przydzielony jest indywidualny plik integracyjny XML zabezpieczony tokenem, ograniczający do niego dostęp osobom niepowołanym. Udostępnianie pliku osobom trzecim i nieautoryzowany dostęp będzie skutkował jego zablokowaniem.</p>


            <p>Adres Państwa indywidualnego pliku XML:</p>

            <p>
                http://www.partner.aluro.pl/modules/nvn_export_products/download/aluro_products_export_ldWd8HWmUY.xml
            </p>


            <p>Budowa plik XML (kodowanie UTF8)</p>
            <pre>
            &lt;export_products&gt;
                &lt;product&gt;
                    &lt;symbol&gt;
                        &lt;![CDATA[ A00001 ]]&gt;
                    &lt;/symbol&gt;
                    &lt;product_name&gt;
                        &lt;![CDATA[ Regał-pomocnik LAMALI 42x30.5x94cm - Aluro ]]&gt;
                    &lt;/product_name&gt;
                    &lt;images&gt;
                        &lt;![CDATA[ http://www.partner.aluro.pl/img/p/2/8/28.jpg, http://www.partner.aluro.pl/img/p/8/4/84.jpg ]]&gt;
                    &lt;/images&gt;
                    &lt;stock&gt;
                        &lt;![CDATA[ 44 ]]&gt;
                    &lt;/stock&gt;
                    &lt;cena_detaliczna&gt;
                        &lt;![CDATA[ 648.000000 ]]&gt;
                    &lt;/cena_detaliczna&gt;
                    &lt;EAN13&gt;
                        &lt;![CDATA[ 5907608330865 ]]&gt;
                    &lt;/EAN13&gt;
                    &lt;opis&gt;
                        &lt;![CDATA[ Opis produktu. ]]&gt;
                    &lt;/opis&gt;
                    &lt;cechy&gt;
                        &lt;![CDATA[ Wymiary¦³¦42x30.5x94cm, Materiał¦³¦metal ]]&gt;
                    &lt;/cechy&gt;
                &lt;/product&gt;
                &lt;product&gt;
                    (...)
                &lt;/product&gt;
            &lt;/export_products&gt;
            </pre>

        </div>
    </div>
</div>