
@{
    ViewData["Title"] = "Onas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>onas</h1>

<div>

    Treść o Nas. Czym się zajmujemy wszystkiego.
    Treść, treść, treść, treść, treść, treść, treść, treść, treść, treść, treść<br />
    treść, treść, treść, treść, treść, treść, treść, treść, treść, treść, treść<br />
    treść, treść, treść, treść, treść, treść, treść, treść, treść, treść, treść<br />
    treść, treść, treść, treść, treść, treść, treść, treść, treść, treść, treść<br />
    treść, treść, treść, treść, treść, treść, treść, treść, treść, treść, treść<br />
    treść, treść, treść, treść, treść, treść, treść, treść, treść, treść, treść<br />


</div>
