@{
    ViewBag.Title = "Aluro - Strona główna";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">

    Płatności
    Partner ma możliwość złożenia zamówienia z odroczonym terminem płatności lub gotówką.

    Wymagany termin płatności - 10-30 dni dla partnerów stacjonarnych (z podpisanymi Warunkami Współpracy)
    * liczony od daty wystawienia faktury VAT

    * warunkiem do uzyskania terminu płatności jest wygenerowany obrót miedzy firmami 20000 zł netto

    Klient zobowiązuje się do terminowej zapłaty należności za zakupiony towar. Za terminową wpłatę uważa się datę wpływu środków na konto dostawcy.
    W przypadku nie dokonania zapłaty w terminie, zostanie anulowany rabat przyznany do zamówienia i wystawiona faktura korygującą.

    Zgłoszenie reklamacji nie przerywa biegu płatności.

    Tabela rabatowa dla Partnerów posiadających sklepy stacjonarne
    wartość zamówienia 0 zł do 2000 zł netto - brak rabatu
    wartość zamówienia 2001 zł do 5000 zł netto - 5 % rabatu
    wartość zamówienia powyżej 5001 zł netto - 10 % rabatu

    Warunki dostawy
    Szczegółowy koszt dostawy danego zamówienia możliwy będzie po jego przygotowaniu, ponieważ dopiero wówczas można oszacować czy wysyłka będzie na palecie. O dokładnym koszcie dostawy partner zostanie poinformowany przez nasz Dział Obsługi Klienta.

    - dla wysyłki paczkami = 1 karton do 30kg  cena 18,00 zł

    - dla wysyłki pół paletami = koszt dostawy od 80-120 zł (w zależności od kodu pocztowego)

    - dla wysyłki paletami = koszt dostawy 150 zł

    Przy zamówieniach na zasadzie dropshippingu do każdego zamówienia doliczamy Usługę Pakowania
    (zabezpieczanie przesyłki).

    Koszt Usługi Pakowania:

    -przy zamówieniu do 30,00 zł / 2,50 zł brutto

    -przy zamówieniu powyżej 30,00 zł / 5 zł brutto

    BEZPŁATNA DOSTAWA  JUŻ POWYŻEJ  590 zł  netto
    Dotyczy dostawy na terenie Polski. Towar dostarczony firmą kurierską należy sprawdzić w obecności kuriera i w razie nieprawidłowości (braki, uszkodzenia, towar niezgodny z zamówieniem) spisać odpowiedni protokół wraz z kurierem. Protokół należy niezwłocznie wysłać mailem na adres kontakt@aluro.pl
</div>