@{
    ViewBag.Title = "Aluro - Strona główna";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <p>Ogólne warunki sprzedaży marki ALURO
        Sprzedaż marki ALURO odbywa się wyłącznie przez wybrane, autoryzowane sklepy internetowe, galerie, sklepy meblowe.
    </p>

    <p>Nie współpracujemy z hurtowniami.</p>

    <p>Gwarantujemy, że produkty ALURO nie będą uczestniczyły w sprzedaży bezpośredniej na aukcjach
    i serwisach internetowych (m.in. Allegro, eBay) przez właściciela marki. Sprzedaż taka odbywać się może wyłącznie przez w/w partnerów handlowych.</p>

    <p>Cena detaliczna – jest ceną sugerowaną w sprzedaży marki ALURO.</p>

    <p>Cena zakupu – jest ceną dla podmiotów współpracujących z marką ALURO<br />
    Partner ma możliwość złożenia zamówienia z odroczonym terminem płatności lub gotówką.<br />
    Klient zobowiązuje się do terminowej zapłaty należności za zakupiony towar. Za terminową wpłatę uważa się datę wpływu środków na konto dostawcy. W przypadku nie dokonania zapłaty w terminie, zostanie anulowany rabat przyznany do zamówienia i wystawiona faktura korygującą.<br />
    </p>
    <p>Reklamacje<br />
    Wszelkie sprzedawane produkty są nowe, niektóre są jednak specjalnie postarzone w celu nadania im odpowiedniego wyglądu. Wszelkie przetarcia kolorów, zmiany odcieni, pęknięcia i zadrapania są efektem zamierzonym, dlatego produkty takie nie podlegają reklamacji ze względu na swój naturalny wygląd.</p>

    <p>Warunki reklamacji:</p>

    <p>Partner ma obowiązek zgłosić reklamację niezwłocznie po otrzymaniu zamówienia i sprawdzeniu towaru przy kurierze ( nie później niż 7 dni po otrzymaniu towaru).W przypadku uszkodzeń podczas transportu wymagane jest spisanie protokołu szkody z kurierem dostarczającym zamówienie.</p>

    <p>Reklamację należy zgłaszać na adres kontakt@aluro.pl z dokładnym opisem reklamacji i szczegółowymi zdjęciami uszkodzonego towaru.</p>

    <p>Dział Reklamacji rozpatrzy i odpowie na reklamację w ciągu max 14 dni od dnia jej złożenia.</p>

    <p>Reklamowany towar musi być zapakowany w oryginalne opakowanie z metkami dostawcy bez oznaczeń zamawiającego.</p>

    <p>Reklamację należy  wysłać do siedziby głównej marki ALURO na koszt własny.</p>

</div>