
@model partner_aluro.Models.Newsletter

@{
    ViewData["Title"] = "Dodaj Newsletter";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@section LinkStyleHead
    {
    <link href="~/dashboard/datatables/datatables.min.css" rel="stylesheet" />
    <script src="~/js/tinymce/tinymce.min.js"></script>
    }

<form class="needs-validation" asp-action="Add" asp-route-id="@Model.NewsletterID" asp-controller="Newsletter" class="form-horizontal" method="post" enctype="multipart/form-data">
    
    <div class="row g-0">
        <div class="col-md-6 border-end">
            @Html.ValidationSummary()
            @await Html.PartialAsync("_FormNewsletter")
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-success">Dodaj Newsletter</button> 
        </div>
            <div class="col-md-6"> <button id="btnBack" runat="server" text="Back" class="btn btn-primary" onclick="JavaScript: window.history.back(1); return false;">Powrót</button>
            </div>

    </div>
</form>

@section Scripts {

    <script src="~/js/tinymcenewsletter.js"></script>

}