@model partner_aluro.Models.Newsletter

@{
    ViewData["Title"] = "Dodaj Newsletter";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@section LinkStyleHead
    {
    <script src="~/js/tinymce/tinymce.min.js"></script>
    }

    <form class="needs-validation" asp-action="Edit" asp-route-id="@Model.NewsletterID" asp-controller="Newsletter" class="form-horizontal" method="post" enctype="multipart/form-data">

        <div class="row g-0">
            <div class="col-md-12 border-end">
                @Html.ValidationSummary()
                @await Html.PartialAsync("_FormNewsletter")
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-success">Zapisz zmiany</button>
            </div>

        </div>
    </form>
    <button asp-controller="Newsletter" asp-action="SendEmail">Wyslij</button>

    @section Scripts {


    <script src="~/js/tinymce.js"></script>

}