@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Brak dostępu";
}

<header>
    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <div class="row">
            <div class="col-8 text-center">
                <img src="~/img/logo/aluro_logo-x-300_2.png" width="200" />
            </div>
        </div>
        <div class="row">
            <div class="col text-center text-dark p-3">
                Dziękujemy za rejestrację nowego konta w systemie platformy hurtowej B2B<br />
                marki ALURO.<br />
                <br />
                Po weryfikacji danych, otrzymają Państwo dostęp do platformy hurtowej<br>
                z możliwością zakupów w cenach hurtowych.<br />
            </div>
        </div>
        <div class="row">
            <div class="col text-center text-dark p-3">
                Zazwyczaj proces weryfikacji trwa od 1 do 12 godzin,<br />
                    dziękujemy za cierpliwość.<br />
            </div>
        </div>
        <p class="text-danger"><partial name="_LoginPartial" /></p>
    </div>
</header>
