@page
@model ForgotPasswordUserDontExist
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="logoLoginReg">
    <div class="justify-content-center align-items-center" style="height:300px">
        <img id="logoLogin" src="~/images/logo/aluro_logo-x-300_2.png" width="300px" />
    </div>
</div>
<div class="col-md-3  justify-content-center align-items-center">
    <section class="p-3 border">
        <div class="col-md-12 center">
            <p>
                Podany e-mail nie istnieje w bazie danych. Skontaktuj się z naszą obsługą klienta.
            </p>
        </div>
    </section>
</div>

