@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Zapomiałeś swojego hasła?";
}

@inject LanguageService language

<div class="logoLoginReg">
    <div class="justify-content-center align-items-center" style="height:300px">
        <img id="logoLogin" src="~/img/logo/aluro_logo-x-300_2.png" width="300px" />
    </div>
</div>
<div class="col-md-3  justify-content-center align-items-center">
    <section class="p-3 border">

        <h4>Wprowadz swój email. Wyślemy Ci wiadomość z linkiem do ustawienia nowego hasła.</h4>
        <hr />
        <div class="row">
            <div class="col-md-12">

                @{
                    var Email = "";
                }
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating">
                        <input asp-for="@Email" class="form-control" autocomplete="username" aria-required="true" />
                        <label asp-for="Input.Email" class="form-label"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="w-100 btn btn-primary">Resetuj hasło</button>
                </form>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
