@page
@model RegisterModel
@{
    ViewData["Title"] = "Zarejestruj się.";
}

<div class="row">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h5 >STWÓRZ KONTO</h5>
            <hr />
        <h6 class="text-center">PROFIL DZIAŁALNOŚCI</h6>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select asp-for="Input.IdProfildzialalnosci" class="form-control" asp-items="(IEnumerable<SelectListItem>)@ViewData["Profile"]"></select>
                <label asp-for="Input.IdProfildzialalnosci" class="control-label text-center"></label>
            </div>

            <div class="form-floating">
                <input asp-for="Input.Imie" class="form-control" autocomplete="imie" aria-required="true" />
                <label asp-for="Input.Imie"></label>
                <span asp-validation-for="Input.Imie" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.Nazwisko" class="form-control" autocomplete="nazwisko" aria-required="true" />
                <label asp-for="Input.Nazwisko"></label>
                <span asp-validation-for="Input.Nazwisko" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        <h5>DANE ROZLICZENIOWE FIRMY</h5>
        <div class="form-floating">
            <input asp-for="Input.NazwaFirmy" class="form-control" autocomplete="NazwaFirmy" aria-required="true" />
            <label asp-for="Input.NazwaFirmy"></label>
            <span asp-validation-for="Input.NazwaFirmy" class="text-danger"></span>
        </div>

            <div class="form-floating">
                <input asp-for="Input.Kraj" class="form-control" autocomplete="kraj" aria-required="true" />
                <label asp-for="Input.Kraj"></label>
                <span asp-validation-for="Input.Kraj" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.Miasto" class="form-control" autocomplete="miasto" aria-required="true" />
                <label asp-for="Input.Miasto"></label>
                <span asp-validation-for="Input.Miasto" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.Ulica" class="form-control" autocomplete="Ulica" aria-required="true" />
                <label asp-for="Input.Ulica"></label>
                <span asp-validation-for="Input.Ulica" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.KodPocztowy1" class="form-control" autocomplete="KodPocztowy1" aria-required="true" />
                <label asp-for="Input.KodPocztowy1"></label>
                <span asp-validation-for="Input.KodPocztowy1" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.Telefon1" class="form-control" autocomplete="Telefon1" aria-required="true" />
                <label asp-for="Input.Telefon1"></label>
                <span asp-validation-for="Input.Telefon1" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
