@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<p>
    Twoje hasło zostało zresetowane. Proszę <a asp-page="./Login"> naciśnij tutaj aby się zalogować.</a>.
</p>
