@model partner_aluro.Models.ProfilDzialalnosci

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h1>Create</h1>

<h4>ProfilDzialalnosci</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Profildzialalnosci" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NazwaProfilu" class="control-label"></label>
                <input asp-for="NazwaProfilu" class="form-control" />
                <span asp-validation-for="NazwaProfilu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rabat" class="control-label"></label>
                <input asp-for="Rabat" class="form-control" />
                <span asp-validation-for="Rabat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
