

@{
    ViewData["Title"] = "ApiKursNBP";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}




<div class="col-sm-6">
    TEST
@*
    <input asp-for="@Model.User.Nazwisko" id="Nazwisko" class="form-control" value="@Model.User.Nazwisko" autocomplete="Nazwisko" aria-required="true" />*@
</div>


<div class="col-sm-6">@*
    <label asp-for="@Model.User.NazwaFirmy" class="form-label">Nazwa firmy</label>
    <input asp-for="@Model.User.NazwaFirmy" id="NazwaFirmy" class="form-control" autocomplete="NazwaFirmy" aria-required="true" />
*@
</div>