@model partner_aluro.Models.KursResponse

@{
    ViewData["Title"] = "ApiKursNBP";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

@{
    var today = DateTime.Today;
    var yesterday = today.AddDays(-1);

}

<div class="row">
    <div class="col-sm-6">
        Aktualny kurs Euro <b>@ViewData["Euro"]</b> pobierany z NBP z dnia: <b>@yesterday</b>;
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-2">
        <button id="btnBack" runat="server" text="Back" class="btn btn-primary" onclick="JavaScript: window.history.back(1); return false;">Powrót</button>
    </div>
</div>