
a.active {
    font-size: 16px;
    font-weight: bold;
}

.sale {
    max-width: 70px;
    top:12px;
    left:12px;
    border: 1px solid red;
    border-radius: 5px;
    position: absolute;
    color: white;
    background-color: red;
}

.custom-label {
    text-align: right;
}
.custom-nav .nav-link {
    color: #c1c1c1;
}
.custom-nav .nav-link:hover {
    color: #a9a9a9;
}


.card {
    background: #f1f1f1;
    border: 1px solid #BAB5AF;
    padding: 0px;
    margin: 4px;
}
.card-bar-action {
    background: #e7e7e7;
    padding: 0px;
    margin: 0px;
    min-height: 50px;
}

/*CartStatus prawe menu zamowienia poczatek*/
.wrapper {
    padding: 0px;
    margin: 0px auto;
}
.text-max {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
}
/*CartStatus prawe menu zamowienia koniec*/



.brutto {
    font-size: 14px;
}

.card-body{
    padding: 0px
}

.breadcrumb {
    margin-bottom: 0rem;
}

.breadcrumb a:before {
    content: " ";
    padding-left: 12px;
    /*    width: 15px;*/

    background-image: url('../images/home.png');
    background-position: center;
    background-size: cover;
    
    /*   font-family: entypo-fontello;*/
    font-size: 10px;
    color: #000;
    visibility: visible;
}

.breadcrumb a {
    color: #000 !important;
}

/*PRZYCISK OTWIERAJACY menu TWOJE ZAMOWIENIE PRAWA STRONA STARE*/
.btn-open {
    position: relative;
    width: 58px;
    font-size: 20px;
    color: black;
}
.sticky-top.row.float-end.text-right {
    top: 60px;
}
/*PRZYCISK OTWIERAJACY menu TWOJE ZAMOWIENIE PRAWA STRONA STARE*/

.navbar-custom {
    padding-top: 0px;
    padding-bottom: 0px;
}
/*menu LEWE menu CATEGORY*/
.row.custom-kategory-menu.sticky-top {
    top: 53px;
    z-index: 1;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    justify-content: center;
}

.thumbnail {
    display: flex;
    justify-content: center;
    background: white;
}

/*Koszyj header*/
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}


.field-validation-error {
    color: red;
    font-size: smaller;
}




#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -6px;
    margin-top: -5px;
}
/*Koszyj header*/

/*POPRAWKI bdo BOOTSTRP STYLE*/
.offcanvas-end {
    top: 52px;
}

.product-name {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
}

.catmenu {
    display: block;
    width: 100px;
    word-wrap: break-word;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.mainmenu {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: black;
    text-align: center;
}


.header2-custom {
    padding-top: 25px;
}

body {
    background-color: #eceff1;
    overflow-y: scroll;
}


label.required::before {
    content: '*';
    margin-right: 4px;
    color: red;
}

#logoLogin {
    float: left;
    margin: 0 0 0 0px;
    position: absolute;
    left: -150px;
    bottom: 20px;
}
#logoLogin2 {
    position: absolute;
    left: -200px;
    bottom: 20px;
}
.logoLoginReg {
    position: relative;

}
.pozycja {
    line-height: 60px;
}

.search {
    z-index: 20;
    max-width: 615px;
}
/*STYL main menu*/
.menumain {
    color: white;
}
.custom-item {
    height: 100px;
    width: 100px;
    margin: 2px;
    background-color: black;
}

.body_product
{
    display: flex;
}