
#main-wrapper .owl-item {
    visibility: hidden;
    opacity: 0;
}

    #main-wrapper .owl-item.active {
        visibility: visible;
        opacity: 1;
    }

.bg {
    position: fixed;
    top: 0;
    left: 0;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    z-index: -200;
}


body, html {
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
    background-color: #eceff1;
    overflow-y: scroll;
    margin:0;
    padding:0;
    
}

.container1{
    position:absolute;
    left:0;
    top:0;
    width 100%;
    height: 100vh;
    animation: animate 16s ease-in-out infinite;
}

@keyframes animate {
    0%,100% {
        background-image: url('../images/sliderhome/slider1.jpg');
    }

    25% {
        background-image: url('../images/SliderHome/slider2.jpg');
    }

    50% {
        background-image: url('../images/SliderHome/slider3.jpg');
    }

    0% {
        background-image: url('../images/SliderHome/slider4.jpg');
    }
}

.rozwin {
    position: fixed;
    top: 75px;
    right: 13px;
    color: white;
}

/*menu aktywny link*/
a:hover {
    font-size: 16px;
    font-weight: 500;
}
/*menu aktywny link*/
/*Nawigacja MainMenuCarusel*/
.owl-prev, .owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block !important;
    border: 1px solid black;
}

.owl-prev {
    left: 6px;
}

.owl-next {
    right: 6px;
}

    .owl-prev i, .owl-next i {
        transform: scale(1.3,1);
        background-color: black;
        opacity: 0.5;
        border: 1px solid black;
        border-radius: 30px;
        color: #fff;
    }
/*Nawigacja MainMenuCarusel*/


a.active {
    background-color: #6e1a1a;
    font-size: 15px;
    font-weight: 600;
}

.btn.btn-add {
    border: 1px solid #000;
    background-color: #fcfcfc;
}
    .btn.btn-add:hover {
        font-weight: 500;
        background-color: #6e1a1a;
        color: white;
    }
/*menu lefe kategorie*/
a.activecat {
    font-size: 15px;
    font-weight: 700;
}
a.activecat2 {
    font-size: 15px;
    font-weight: 700;
}
/*menu lefe kategorie*/

/*header menu menu nav bar*/
.navbar-nav > li > a {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}
/*header menu menu nav bar*/

/*header */
.header {
    height: 47px;
    min-height: 47px;
}


/*Koszyj header*/
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}


.field-validation-error {
    color: red;
    font-size: smaller;
}
/*header*/

#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -6px;
    margin-top: -5px;
}
/*Koszyj header*/



.sale {
    max-width: 70px;
    top:12px;
    left:12px;
    border: 1px solid red;
    border-radius: 5px;
    position: absolute;
    color: white;
    background-color: red;
}

.custom-label {
    text-align: right;
}
.custom-nav .nav-link {
    color: #c1c1c1;
}
.custom-nav .nav-link:hover {
    color: #a9a9a9;
    /*color: white;*/
}
    .custom-nav .active {
        /* color: #a9a9a9;*/
        color: white;
        border: 1px solid white;
    }
.card {
    background: #f1f1f1;
    border: 1px solid #BAB5AF;
    padding: 0px;
    margin: 4px;
}
.card-bar-action {
    background: #e7e7e7;
    padding: 0px;
    margin: 0px;
    min-height: 50px;
}

/*CartStatus prawe menu zamowienia poczatek*/
.wrapper {
    padding: 0px;
    margin: 0px auto;
}
.text-max {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
}
/*CartStatus prawe menu zamowienia koniec*/



.brutto {
    font-size: 14px;
}

.card-body{
    padding: 0px
}

.breadcrumb {
    margin-bottom: 0rem;
}

.breadcrumb a:before {
    content: " ";
    padding-left: 12px;
    /*    width: 15px;*/

    background-image: url('../images/home.png');
    background-position: center;
    background-size: cover;
    
    /*   font-family: entypo-fontello;*/
    font-size: 10px;
    color: #000;
    visibility: visible;
}

.breadcrumb a {
    color: #000 !important;
}

/*PRZYCISK OTWIERAJACY menu TWOJE ZAMOWIENIE PRAWA STRONA STARE*/
.btn-open {
    position: relative;
    width: 58px;
    font-size: 20px;
    color: black;
}
.sticky-top.row.float-end.text-right {
    top: 60px;
}
/*PRZYCISK OTWIERAJACY menu TWOJE ZAMOWIENIE PRAWA STRONA STARE*/

.navbar-custom {
    padding-top: 0px;
    padding-bottom: 0px;
}
/*menu LEWE menu CATEGORY*/
.row.custom-kategory-menu.sticky-top {
    top: 53px;
    z-index: 1;
}

.thumbnail img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    justify-content: center;
}

.thumbnail {
    display: flex;
    justify-content: center;
    background: white;
}


/*POPRAWKI bdo BOOTSTRP STYLE*/
.offcanvas-end {
    top: 40px;
}

.product-name {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
}

.catmenu {
    display: block;
    width: 100px;
    word-wrap: break-word;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.mainmenu {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: black;
    text-align: center;
}


.header2-custom {
    padding-top: 25px;
}



label.required::before {
    content: '*';
    margin-right: 4px;
    color: red;
}

#logoLogin {
    float: left;
    margin: 0 0 0 0px;
    position: absolute;
    left: -150px;
    bottom: 20px;
}
#logoLogin2 {
    position: absolute;
    left: -200px;
    bottom: 20px;
}
.logoLoginReg {
    position: relative;

}
.pozycja {
    line-height: 60px;
}

.search {
    z-index: 20;
    max-width: 615px;
}
/*STYL main menu*/
.menumain {
    color: white;
}
.custom-item {
    height: 100px;
    width: 100px;
    margin: 2px;
    background-color: black;
}

.body_product
{
    display: flex;
}