@model IEnumerable<Category>

<nav class="navbar menumain navbar-expand-lg  z-index-10">
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarMainMenu" aria-controls="navbarMainMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-dark" id="navbarMainMenu">
        <div class="navbar-nav">
            @foreach (var kategorie in Model)
            {
            <div class="nav-item justify-content-end ">
                <a href="@Url.Action("Lista","Category", new {szukanaNazwa = kategorie.Name})" style="width: 100px; height:100px; max-height: 100px;" class="mainmenu text-white  max-wi nav-link bg-black m-1 ">
                    @kategorie.Name
                </a>
            </div>
            }
        </div>
    </div>
</nav>
