@model ProductXML
@{
    ViewData["Title"] = "Lista kategori";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h4>XML został wygenerowany ręcznie.</h4>


<div class="row">
    <a href="@Url.Action("Index","GenerateXML")" class=" btn btn-primary px-3">
        <span>Otwóz nowo wygenerowany plik XML</span>
    </a>
</div>