@model partner_aluro.ViewModels.UserStatusModel

@using Microsoft.AspNetCore.Identity
@using partner_aluro.ViewComponents;
@using partner_aluro.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User) && @Model.User != null)
{
    <ul class="navbar-nav">
        <li class="nav-item nav-link"><span class="text-white">Witaj</span> <span class="text-warning">@Model.User.Imie @Model.User.Nazwisko</span>
            @if(Model.User.ProfilDzialalnosci != null && Model.User.ProfilDzialalnosci.Rabat != 0)
            {
            <br />
                <span class="text-white">
                Aktualnie posiadasz rabat o wartości: @Model.User.ProfilDzialalnosci.Rabat %
                </span>
            }
            else{
                ;
            }
        </li>
    </ul>
}
else
{
    <p> Nie jestes zalogowany </p>
}